{
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 80,
  "tabWidth": 2,

  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/constants/(.*)$",
    "^@/app/apis/(.*)$",
    "^@/app/store/(.*)$",
    "^@/app/hooks/(.*)$",
    "^@/app/pages/(.*)$",
    "^@/app/libs/(.*)$",
    "^@/app/components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
