@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  overflow-x: auto;
  padding: 1rem 0;
}

pre [data-line] {
  padding: 0 1rem;
}

code {
  background-color: hsl(var(--nextui-default-200));
  color: hsl(var(--nextui-danger-500)) !important;
  border-radius: 0.375rem;
  padding: 0.25rem;
}

code::after {
  content: '' !important;
}

code::before {
  content: '' !important;
}
