@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  overflow-x: auto;
  padding: 1rem 0;
}

pre [data-line] {
  padding: 0 1rem;
}

code {
  background-color: #f0f0f0;
  color: #c75b5b !important;
  padding: 0.25rem;
  border-radius: 0.375rem;
}

code::after {
  content: "" !important;
}

code::before {
  content: "" !important;
}
