@tailwind base;
@tailwind components;
@tailwind utilities;

.prose-custom {
  @apply prose-headings:m-0 prose-h1:text-xl prose-h2:text-lg prose-h3:text-base prose-h3:font-semibold prose-p:m-0 prose-p:text-sm prose-a:m-0
  prose-li:m-0 prose-li:text-sm prose-li:marker:text-personal-blue prose-img:my-2 prose-hr:border-personal-blue/50 sm:prose-h1:text-4xl sm:prose-h2:text-3xl
  sm:prose-h3:text-xl sm:prose-p:text-lg sm:prose-li:text-lg;
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
  @apply rounded-b-md rounded-t-none !important;
}

pre [data-line] {
  padding: 0 1rem;
}

figcaption {
  padding: 1rem;
  background-color: #303446 !important;
  @apply rounded-t-md border-b-2 border-[#383d52] !important;
}

code {
  background-color: hsl(var(--nextui-default-200));
  color: hsl(var(--nextui-danger-500)) !important;
  border-radius: 0.375rem;
  padding: 0.25rem;
  @apply font-pretendard;
}

blockquote p::after {
  content: '' !important;
}

blockquote p::before {
  content: '' !important;
}

code::after {
  content: '' !important;
}

code::before {
  content: '' !important;
}

.toc-list-item {
  color: hsl(var(--nextui-default-400)) !important;
}

.is-active-li {
  color: hsl(var(--nextui-default-600)) !important;
}

.is-collapsible {
  padding-left: 0.5rem;
}

.prose code span[data-highlighted-line] {
  @apply !bg-[#ebf3ff];
}

.prose code span[data-highlighted-line] span {
  @apply !text-[#303446];
}

.fade-in {
  will-change: opacity;

  animation: fade-in 1s;
  -moz-animation: fade-in 1s; /* Firefox */
  -webkit-animation: fade-in 1s; /* Safari and Chrome */
  -o-animation: fade-in 1s; /* Opera */
}
.fade-out {
  will-change: opacity;

  animation: fade-out 1s;
  -moz-animation: fade-out 1s; /* Firefox */
  -webkit-animation: fade-out 1s; /* Safari and Chrome */
  -o-animation: fade-out 1s; /* Opera */
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
